<!-- <div>
  <div class="form-group">
    <label for="dni">DNI</label>
    <input [(ngModel)]="user.dni" type="number" class="form-control" id="dni" aria-describedby="dni">
    <small id="dni" class="form-text text-muted">Ingrese su numero dni.</small>
  </div>
  <div class="form-group">
    <label for="last_name">Apellidos</label>
    <input [(ngModel)]="user.last_name" type="text" class="form-control" id="last_name" aria-describedby="last_name">
    <small id="last_name" class="form-text text-muted">Ingrese sus Apellidos.</small>
  </div>
  <div class="form-group">
    <label for="name">Nombres</label>
    <input [(ngModel)]="user.name" type="text" class="form-control" id="name" aria-describedby="name">
    <small id="name" class="form-text text-muted">Ingrese sus nombres.</small>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input [(ngModel)]="user.email" type="email" class="form-control" id="email" aria-describedby="email">
    <small id="email" class="form-text text-muted">Ingrese sus email.</small>
  </div>
  <div class="form-group">
    <label for="whatsapp">Whatsapp</label>
    <input [(ngModel)]="user.whatsapp" type="number" class="form-control" id="whatsapp" aria-describedby="whatsapp">
    <small id="whatsapp" class="form-text text-muted">Ingrese su whatsapp.</small>
  </div>
  <div class="form-group">
    <label for="telephone">telephone</label>
    <input [(ngModel)]="user.telephone" type="number" class="form-control" id="telephone" aria-describedby="telephone">
    <small id="telephone" class="form-text text-muted">Ingrese su whatsapp.</small>
  </div>
  <button type="button" (click)="saveUser()" class="btn btn-primary">Submit</button>
</div> -->
